@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-light: #F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

* {
 @apply font-poppins;
}

.input-group {
    @apply flex flex-col gap-2;
}

.input-group label {
    @apply text-xs text-black;
}

.input-group input {
    @apply bg-gray-100 p-3 text-sm text-gray-500 w-full outline-none;
}

.input-group textarea {
    @apply bg-gray-100 p-3 text-sm text-gray-500 h-24 w-full outline-none;  
}