@import "tailwindcss";

:root {
  --dark: #111111;
  --dark-alternate: #1B1918;
  --primary: #FF5F3F;
  --primary-light: #F4EBEB;
}

@theme inline {
  --color-dark: var(--dark);
  --color-dark-alternate: var(--dark-alternate);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

* {
  @apply font-poppins;
}

.input-group {
  @apply flex flex-col gap-2;
}

.input-group label {
  @apply text-xs text-black;
}

.input-group input {
  @apply bg-gray-100 p-3 text-sm text-gray-500 w-full outline-none;
}

.input-group textarea {
  @apply bg-gray-100 p-3 text-sm text-gray-500 h-24 w-full outline-none;
}

/* Input Group Admin */
.input-group-admin label {
  @apply block text-xs mb-1;
}

.input-group-admin input,
.input-group-admin textarea,
.input-group-admin select {
  @apply px-4 py-2.5 w-full border border-gray-200 rounded-lg focus:border focus:border-gray-400 outline-none text-sm;
}

/* Input Group Login */
.input-group-login label {
  @apply block text-base mb-1;
}

.input-group-login input,
.input-group-login textarea,
.input-group-login select {
  @apply px-4 py-2.5 w-full border border-gray-200 rounded-lg focus:border focus:border-gray-200 outline-none text-sm;
}